# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons/rmsmartshape folder when downloading from the Asset Library.
/**        export-ignore
/addons    !export-ignore
/addons/rmsmartshape	!export-ignore
/addons/rmsmartshape/** !export-ignore
/examples !export-ignore
/examples/** !export-ignore
/README.md !export-ignore
/LICENSE !export-ignore
